section.slice.slice-lg.bg-section-secondary
  .container
    .mb-5.text-center
      h3.mt-4 What our customers say
      .fluid-paragraph.mt-3
        p.lead.lh-180
          | Start building fast, beautiful and modern looking websites in no time using our theme.
    .row.justify-content-center
      .col-lg-11
        .swiper-js-container.overflow-hidden
          .swiper-container.swiper-container-horizontal(data-swiper-items='1' data-swiper-space-between='0' data-swiper-sm-items='2' data-swiper-xl-items='3' style='cursor: grab;')
            .swiper-wrapper(style='transform: translate3d(-676.667px, 0px, 0px); transition-duration: 0ms;')
              .swiper-slide.p-4(style='width: 338.333px;')
                .card
                  .card-body
                    .d-flex.align-items-center
                      div
                        img.avatar.rounded-circle(alt='Image placeholder' src='assets/img/theme/light/team-1-800x800.jpg')
                      .pl-3
                        h5.h6.mb-0 Heather Wright
                        small.d-block.text-muted Google
                    p.mt-4.lh-180
                      | Amazing template! All-in-one, clean code, beautiful design, and really not hard to work with.Highly recommended for any kind on website.
                    span.static-rating.static-rating-sm
                      i.star.fas.fa-star.voted
                      i.star.fas.fa-star.voted
                      i.star.fas.fa-star.voted
                      i.star.fas.fa-star.voted
                      i.star.fas.fa-star.voted
              .swiper-slide.p-4.swiper-slide-prev(style='width: 338.333px;')
                .card
                  .card-body
                    .d-flex.align-items-center
                      div
                        img.avatar.rounded-circle(alt='Image placeholder' src='assets/img/theme/light/team-2-800x800.jpg')
                      .pl-3
                        h5.h6.mb-0 Monroe Parker
                        small.d-block.text-muted Apple
                    p.mt-4.lh-180
                      | Amazing template! All-in-one, clean code, beautiful design, and really not hard to work with.Highly recommended for any kind on website.
                    span.static-rating.static-rating-sm
                      i.star.fas.fa-star.voted
                      i.star.fas.fa-star.voted
                      i.star.fas.fa-star.voted
                      i.star.fas.fa-star.voted
                      i.star.fas.fa-star.voted
              .swiper-slide.p-4.swiper-slide-active(style='width: 338.333px;')
                .card
                  .card-body
                    .d-flex.align-items-center
                      div
                        img.avatar.rounded-circle(alt='Image placeholder' src='assets/img/theme/light/team-3-800x800.jpg')
                      .pl-3
                        h5.h6.mb-0 John Sullivan
                        small.d-block.text-muted Amazon
                    p.mt-4.lh-180
                      | Amazing template! All-in-one, clean code, beautiful design, and really not hard to work with.Highly recommended for any kind on website.
                    span.static-rating.static-rating-sm
                      i.star.fas.fa-star.voted
                      i.star.fas.fa-star.voted
                      i.star.fas.fa-star.voted
                      i.star.fas.fa-star.voted
                      i.star.fas.fa-star.voted
              .swiper-slide.p-4.swiper-slide-next(style='width: 338.333px;')
                .card
                  .card-body
                    .d-flex.align-items-center
                      div
                        img.avatar.rounded-circle(alt='Image placeholder' src='assets/img/theme/light/team-4-800x800.jpg')
                      .pl-3
                        h5.h6.mb-0 James Lewis
                        small.d-block.text-muted Google
                    p.mt-4.lh-180
                      | Amazing template! All-in-one, clean code, beautiful design, and really not hard to work with.Highly recommended for any kind on website.
                    span.static-rating.static-rating-sm
                      i.star.fas.fa-star.voted
                      i.star.fas.fa-star.voted
                      i.star.fas.fa-star.voted
                      i.star.fas.fa-star.voted
                      i.star.fas.fa-star.voted
              .swiper-slide.p-4(style='width: 338.333px;')
                .card
                  .card-body
                    .d-flex.align-items-center
                      div
                        img.avatar.rounded-circle(alt='Image placeholder' src='assets/img/theme/light/team-5-800x800.jpg')
                      .pl-3
                        h5.h6.mb-0 Julia Howe
                        small.d-block.text-muted Google
                    p.mt-4.lh-180
                      | Amazing template! All-in-one, clean code, beautiful design, and really not hard to work with.Highly recommended for any kind on website.
                    span.static-rating.static-rating-sm
                      i.star.fas.fa-star.voted
                      i.star.fas.fa-star.voted
                      i.star.fas.fa-star.voted
                      i.star.fas.fa-star.voted
                      i.star.fas.fa-star.voted
            span.swiper-notification(aria-live='assertive' aria-atomic='true')
          // Add Pagination
          .swiper-pagination.w-100.mt-4.d-flex.align-items-center.justify-content-center.swiper-pagination-clickable.swiper-pagination-bullets
            span.swiper-pagination-bullet(tabindex='0' role='button' aria-label='Go to slide 1')
            span.swiper-pagination-bullet(tabindex='0' role='button' aria-label='Go to slide 2')
            span.swiper-pagination-bullet.swiper-pagination-bullet-active(tabindex='0' role='button' aria-label='Go to slide 3')
