section#teams
  .container.py-5.pt-md-0
    .row.align-items-center
      .col-md-5
        .clipping-mask
          .phone
            .forehead
              .earpiece
            .buttons
              .silent
              .volume
              .lock
            .screen
              .board
                .header
                  .title
                    h3 Summer Vacation
                .lists
                  .list
                    .list-content
                      h5 To Do
                      .card
                        .card-content  Swimming 
                      .card
                        .image.surfing-lessons
                        .card-content  Surfing Lessons 
                      .card
                        .card-content  Whale Watching 
                      .card
                        .card-content  Snorkeling 
                      .add-card
                        .card-content  Add a card&mldr; 
                  .list
                    .list-content
                      h5 To Eat
                      .card
                        .image.tiki-drinks
                        .card-content  Tiki Drinks 
                      .card
                        .card-content  Taro Ice Cream 
                      .card
                        .card-content  Fresh Seafood 
                      .card
                        .card-content  Ahi Poke 
                      .add-card  Add a card&mldr; 
            .chin
              .button
      .col-md-7.text-center.text-md-left
        h3.mt-3.mt-md-0 Information at a glance
        p.m-0
          | Dive
          | into the details by adding comments, attachments, due dates, and more
          | directly to Trello cards. Collaborate on projects from beginning to end.
    .row.pt-5.pt-md-6
      .col-md-5.order-md-last
        img.img-fluid.mb-3(src='img/butler.png' width='754' height='578')
      .col-md-7
        h4  Built-In Workflow Automation With Butler 
        .line.my-4
        p
          | Let the robots do the work! Boost productivity by unleashing the power
          | of automation across your entire team with Butler, and remove tedious
          | tasks from your to-do lists with:
        ul
          li Rule-Based Triggers
          li Custom Card &amp; Board Buttons
          li Calendar Commands
          li Due Date Commands
        p
