#bottom-gradient
  section#work-smarter
    .container
      .inner.px-4.py-5.text-center.text-white
        h3 Work smarter with Trello
        p Companies of all shapes and sizes use Trello.
        .logo-container.mb-4
          img(src='/img/logo-kickstarter.svg' alt='Kickstarter' width='207' height='24')
          img(src='/img/logo-national-geographic.svg' alt='National Geographic' width='166' height='46')
          img(src='/img/logo-google.svg' alt='Google' width='143' height='46')
          img(src='/img/logo-fender.svg' alt='Fender' width='153' height='55')
        p
          a.btn.btn-light.px-3(href='/business-class?__hstc=753710.909e26afd5ae280667d59a34c417fbba.1579439167625.1579439167625.1579439167625.1&__hssc=753710.1.1579439167626&__hsfp=1967731644') Find out how &rarr;
  section#get-started.d-flex.align-items-center.my-4
    .container.text-center.py-6
      .row
        .col-md-8.offset-md-2.col-lg-6.offset-lg-3.px-lg-5.pt-4
          h3 Start Planning Today
          p
            | Sign up and become one of the millions of people around the world using Trello to get more done.
          a.btn.btn-success.px-3(href='/signup?__hstc=753710.909e26afd5ae280667d59a34c417fbba.1579439167625.1579439167625.1579439167625.1&__hssc=753710.1.1579439167626&__hsfp=1967731644') Get Started &ndash; It&rsquo;s Free!
