section#features
  .container.text-center.py-6
    .row
      .col-md-6.offset-md-3
        h3 Trello your way
        p
          | Use Trello the way your team works best. We&rsquo;ve got the flexibility &amp; features to fit any team&rsquo;s style.
    .row
      .col-lg-4
        .img.img-collaborate
          img(src='img/updated-layouts-collab.png' alt='' width='270')
        h5 The Team Playbook
        p.small
          | It&rsquo;s
          | easy to get your team up and running with Trello. We&rsquo;ve collected all
          | of the boards and tools you need to succeed in one handy resource.
        p
          a.btn.btn-secondary.btn-wrap.px-3(href='/teams?__hstc=753710.909e26afd5ae280667d59a34c417fbba.1579439167625.1579439167625.1579439167625.1&__hssc=753710.1.1579439167626&__hsfp=1967731644') Make A Game Plan
      .col-lg-4
        .img.img-apps
          img(src='img/updated-layouts-platform.png' alt='' width='270')
        h5 A Productivity Platform
        p.small
          | Integrate
          | the apps your team already uses directly into your workflow. Power-Ups
          | turn Trello boards into living applications to meet your team&apos;s unique
          | business needs.
        p
          a.btn.btn-secondary.btn-wrap.px-3(href='/power-ups?__hstc=753710.909e26afd5ae280667d59a34c417fbba.1579439167625.1579439167625.1579439167625.1&__hssc=753710.1.1579439167626&__hsfp=1967731644') Power-Up Your Workflow
      .col-lg-4
        .img.img-sync
          img(src='img/updated-layouts-sync.png' alt='' width='270')
        h5 Always In Sync
        p.small
          | No
          | matter where you are, Trello stays in sync across all of your devices.
          | Collaborate with your team anywhere, from sitting on the bus to sitting
          | on the beach.
        p.app-store
          a(href='https://itunes.apple.com/app/trello-organize-anything/id461504587')
            img.img-fluid(src='img/btn-appstore-black.png' alt='Available on the App Store')
          a(href='https://play.google.com/store/apps/details?id=com.trello')
            img.img-fluid(src='img/btn-playstore-black.png' alt='Android App on Google Play')
