section#collaborate
  .container.py-5.pb-md-0
    .row.align-items-center
      .col-md-7.order-md-12
        .board
          .header
            .title
              h3 Team Tasks
          .lists
            .list
              .list-content
                h5 Doing
                .card
                  .card-content
                    .labels
                      .label.label-blue
                    |  Client meeting 
                    .description
                      svg(height='10' viewbox='0 0 16 10' width='16' xmlns='http://www.w3.org/2000/svg')
                        path(d='m1 0h14c.5522847 0 1 .44771525 1 1s-.4477153 1-1 1h-14c-.55228475 0-1-.44771525-1-1s.44771525-1 1-1zm0 4h14c.5522847 0 1 .44771525 1 1s-.4477153 1-1 1h-14c-.55228475 0-1-.44771525-1-1s.44771525-1 1-1zm0 4h8c.55228475 0 1 .44771525 1 1s-.44771525 1-1 1h-8c-.55228475 0-1-.44771525-1-1s.44771525-1 1-1z' fill='#30364c' fill-rule='evenodd' opacity='.3')
                    .card-users
                      .user.user-1
                .card
                  .card-content
                    .labels
                      .label.label-red
                    |  Plan webinar 
                    .description
                      svg(height='10' viewbox='0 0 16 10' width='16' xmlns='http://www.w3.org/2000/svg')
                        path(d='m1 0h14c.5522847 0 1 .44771525 1 1s-.4477153 1-1 1h-14c-.55228475 0-1-.44771525-1-1s.44771525-1 1-1zm0 4h14c.5522847 0 1 .44771525 1 1s-.4477153 1-1 1h-14c-.55228475 0-1-.44771525-1-1s.44771525-1 1-1zm0 4h8c.55228475 0 1 .44771525 1 1s-.44771525 1-1 1h-8c-.55228475 0-1-.44771525-1-1s.44771525-1 1-1z' fill='#30364c' fill-rule='evenodd' opacity='.3')
                    .card-users
                      .user.user-2
                      .user.user-1
                .card
                  .card-content
                    .labels
                      .label.label-purple
                    |  Email newsletter 
                    .description
                      svg(height='10' viewbox='0 0 16 10' width='16' xmlns='http://www.w3.org/2000/svg')
                        path(d='m1 0h14c.5522847 0 1 .44771525 1 1s-.4477153 1-1 1h-14c-.55228475 0-1-.44771525-1-1s.44771525-1 1-1zm0 4h14c.5522847 0 1 .44771525 1 1s-.4477153 1-1 1h-14c-.55228475 0-1-.44771525-1-1s.44771525-1 1-1zm0 4h8c.55228475 0 1 .44771525 1 1s-.44771525 1-1 1h-8c-.55228475 0-1-.44771525-1-1s.44771525-1 1-1z' fill='#30364c' fill-rule='evenodd' opacity='.3')
                    .card-users
                      .user.user-3
                .add-card  Add a card&mldr; 
            .list
              .list-content
                h5 Done
                .card
                  .card-content
                    .labels
                      .label.label-red
                    |  Publish podcast 
                    .description
                      svg(height='10' viewbox='0 0 16 10' width='16' xmlns='http://www.w3.org/2000/svg')
                        path(d='m1 0h14c.5522847 0 1 .44771525 1 1s-.4477153 1-1 1h-14c-.55228475 0-1-.44771525-1-1s.44771525-1 1-1zm0 4h14c.5522847 0 1 .44771525 1 1s-.4477153 1-1 1h-14c-.55228475 0-1-.44771525-1-1s.44771525-1 1-1zm0 4h8c.55228475 0 1 .44771525 1 1s-.44771525 1-1 1h-8c-.55228475 0-1-.44771525-1-1s.44771525-1 1-1z' fill='#30364c' fill-rule='evenodd' opacity='.3')
                    .card-users
                      .user.user-3
                      .user.user-2
                .card
                  .card-content
                    .labels
                      .label.label-purple
                    |  Launch website 
                    .description
                      svg(height='10' viewbox='0 0 16 10' width='16' xmlns='http://www.w3.org/2000/svg')
                        path(d='m1 0h14c.5522847 0 1 .44771525 1 1s-.4477153 1-1 1h-14c-.55228475 0-1-.44771525-1-1s.44771525-1 1-1zm0 4h14c.5522847 0 1 .44771525 1 1s-.4477153 1-1 1h-14c-.55228475 0-1-.44771525-1-1s.44771525-1 1-1zm0 4h8c.55228475 0 1 .44771525 1 1s-.44771525 1-1 1h-8c-.55228475 0-1-.44771525-1-1s.44771525-1 1-1z' fill='#30364c' fill-rule='evenodd' opacity='.3')
                    .card-users
                      .user.user-2
                .add-card  Add a card&mldr; 
      .col-md-5.order-md-1.text-center.text-md-left
        h3 Work with any team
        p
          | Whether it&rsquo;s for work, a side project or even the next family vacation, Trello helps your team stay organized.
        p
          a.btn.btn-secondary.px-3(href='/signup?__hstc=753710.909e26afd5ae280667d59a34c417fbba.1579439167625.1579439167625.1579439167625.1&__hssc=753710.1.1579439167626&__hsfp=1967731644') Start doing &rarr;
