section.slice.slice-lg
  .container
    .mb-5.text-center
      h3.mt-4 Really useful features
      .fluid-paragraph.mt-3
        p.lead.lh-180
          | You get all Bootstrap components fully customized. Besides, you receive another numerous plugins out of the box and ready to use.
    .row
      .col-lg-3.col-sm-6
        .mb-4
          .py-5
            .icon.text-primary
              i.fab.fa-twitter
          h5 Latest Bootstrap
          p.mt-2.mb-0
            | A responsive and mobile-first theme built with the world&apos;s most popular component library.
      .col-lg-3.col-sm-6
        .mb-4
          .py-5
            .icon.text-primary
              i.fab.fa-sass
          h5 Built with Sass
          p.mt-2.mb-0 Change one variable and the theme adapts. Colors, fonts, sizes ... you name it.
      .col-lg-3.col-sm-6
        .mb-4
          .py-5
            .icon.text-primary
              i.far.fa-layer-group
          h5 700+ Components
          p.mt-2.mb-0
            | Nicely customized components that can be reused anytime and anywhere in your project.
      .col-lg-3.col-sm-6
        .mb-4
          .py-5
            .icon.text-primary
              i.far.fa-puzzle-piece
          h5 Everything is modular
          p.mt-2.mb-0
            | Nicely customized components that can be reused anytime and anywhere in your project.
    .row
      .col-lg-3.col-sm-6
        .mb-4
          .py-5
            .icon.text-primary
              i.far.fa-tint
          h5 Extended color palette
          p.mt-2.mb-0
            | A beautiful color palette that can be easily modified with our nicely coded Sass files.
      .col-lg-3.col-sm-6
        .mb-4
          .py-5
            .icon.text-primary
              i.far.fa-code
          h5 15+ integrated plugins
          p.mt-2.mb-0
            | More functionality with the ready to use plugins we have integrated in this theme for you.
      .col-lg-3.col-sm-6
        .mb-4
          .py-5
            .icon.text-primary
              i.far.fa-font
          h5 1500 vector icons
          p.mt-2.mb-0
            | One nice collection of icons so you can add a more intuitive and playful touch to your website.
      .col-lg-3.col-sm-6
        .mb-4
          .py-5
            .icon.text-primary
              i.far.fa-grimace
          h5 SVG illustrations
          p.mt-2.mb-0
            | One nice collection of icons so you can add a more intuitive and playful touch to your website.
    .row
      .col-lg-3.col-sm-6
        .mb-4
          .py-5
            .icon.text-primary
              i.fab.fa-twitter
          h5 Latest Bootstrap
          p.mt-2.mb-0
            | A responsive and mobile-first theme built with the world&apos;s most popular component library.
      .col-lg-3.col-sm-6
        .mb-4
          .py-5
            .icon.text-primary
              i.fab.fa-sass
          h5 Built with Sass
          p.mt-2.mb-0 Change one variable and the theme adapts. Colors, fonts, sizes ... you name it.
      .col-lg-3.col-sm-6
        .mb-4
          .py-5
            .icon.text-primary
              i.far.fa-layer-group
          h5 700+ Components
          p.mt-2.mb-0
            | Nicely customized components that can be reused anytime and anywhere in your project.
      .col-lg-3.col-sm-6
        .mb-4
          .py-5
            .icon.text-primary
              i.far.fa-puzzle-piece
          h5 Everything is modular
          p.mt-2.mb-0
            | Nicely customized components that can be reused anytime and anywhere in your project.
