section#hero
  .container.pt-7.pb-6.text-white
    .row.align-items-center.text-center.text-md-left
      .col-lg-5
        h1 Trello lets you work more collaboratively and get more done.
        p.lead
          | Trello&rsquo;s boards, lists, and cards enable you to organize and prioritize your projects in a fun, flexible, and rewarding way.
      .col-lg-6.offset-lg-1
        img.img-fluid(src='img/hero-a.svg' alt='' width='582')
      form.quick-signup(method='POST' action='/signup_redirect')
        input.quick-signup-email(name='email' type='email' placeholder='Email')
        button.btn.btn-wrap.btn-success.btn-lg.px-4(type='submit' data-analytics-event='clickedSignupHeroButton') Sign Up &ndash; It&rsquo;s Free!
