extends layout

block content

  section#hero
    .container.pt-7.pb-6.text-white
      .row.align-items-center.text-center.text-md-left
        .col-lg-5
          h1 Trello lets you work more collaboratively and get more done.
          p.lead Trello’s boards, lists, and cards enable you to organize and prioritize your projects in a fun, flexible, and rewarding way.
        .col-lg-6.offset-lg-1
          img(src="https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/308998dcb3ed5ab3d01217a4d24ffa03/hero-a.svg" alt="" width="582").img-fluid
        form(method="POST" action="/signup_redirect").quick-signup
          input(type="email" name="email" placeholder="Email").quick-signup-email
          button(type="submit" data-analytics-event="clickedSignupHeroButton").btn.btn-wrap.btn-success.btn-lg.px-4 Sign Up – It’s Free!

  section#collaborate
    .container.py-5.pb-md-0
      .row.align-items-center
        .col-md-7.order-md-12
          .board
            .header
              .title
                h3 Team Tasks
            .lists
              .list
                .list-content
                  h5 Doing
                  .card
                    .card-content
                      .labels
                        .label.label-blue 
                        font Client meeting
                        .description
                          svg(height="10" viewBox="0 0 16 10" width="16" xmlns="http://www.w3.org/2000/svg")
                            path(d="m1 0h14c.5522847 0 1 .44771525 1 1s-.4477153 1-1 1h-14c-.55228475 0-1-.44771525-1-1s.44771525-1 1-1zm0 4h14c.5522847 0 1 .44771525 1 1s-.4477153 1-1 1h-14c-.55228475 0-1-.44771525-1-1s.44771525-1 1-1zm0 4h8c.55228475 0 1 .44771525 1 1s-.44771525 1-1 1h-8c-.55228475 0-1-.44771525-1-1s.44771525-1 1-1z" fill="#30364c" fill-rule="evenodd" opacity=".3")
                        .card-users
                          .card-user-1
                  .card
                    .card-content
                      .labels
                        .label.label-red 
                        font Plan webinar
                        .description
                          svg(height="10" viewBox="0 0 16 10" width="16" xmlns="http://www.w3.org/2000/svg")
                            path(d="m1 0h14c.5522847 0 1 .44771525 1 1s-.4477153 1-1 1h-14c-.55228475 0-1-.44771525-1-1s.44771525-1 1-1zm0 4h14c.5522847 0 1 .44771525 1 1s-.4477153 1-1 1h-14c-.55228475 0-1-.44771525-1-1s.44771525-1 1-1zm0 4h8c.55228475 0 1 .44771525 1 1s-.44771525 1-1 1h-8c-.55228475 0-1-.44771525-1-1s.44771525-1 1-1z" fill="#30364c" fill-rule="evenodd" opacity=".3")
                        .card-users
                          .card-user-2
                          .card-user-1
                  .card
                    .card-content
                      .labels
                        .label.label-purple
                        font Client meeting
                        .description
                          svg(height="10" viewBox="0 0 16 10" width="16" xmlns="http://www.w3.org/2000/svg")
                            path(d="m1 0h14c.5522847 0 1 .44771525 1 1s-.4477153 1-1 1h-14c-.55228475 0-1-.44771525-1-1s.44771525-1 1-1zm0 4h14c.5522847 0 1 .44771525 1 1s-.4477153 1-1 1h-14c-.55228475 0-1-.44771525-1-1s.44771525-1 1-1zm0 4h8c.55228475 0 1 .44771525 1 1s-.44771525 1-1 1h-8c-.55228475 0-1-.44771525-1-1s.44771525-1 1-1z" fill="#30364c" fill-rule="evenodd" opacity=".3")
                        .card-users
                          .card-user-3
                  .add-card Add a card…
              .list
                .list-content
                  h5 Done
                  .card
                    .card-content
                      .labels
                        .label.label-red 
                        font Plan webinar
                        .description
                          svg(height="10" viewBox="0 0 16 10" width="16" xmlns="http://www.w3.org/2000/svg")
                            path(d="m1 0h14c.5522847 0 1 .44771525 1 1s-.4477153 1-1 1h-14c-.55228475 0-1-.44771525-1-1s.44771525-1 1-1zm0 4h14c.5522847 0 1 .44771525 1 1s-.4477153 1-1 1h-14c-.55228475 0-1-.44771525-1-1s.44771525-1 1-1zm0 4h8c.55228475 0 1 .44771525 1 1s-.44771525 1-1 1h-8c-.55228475 0-1-.44771525-1-1s.44771525-1 1-1z" fill="#30364c" fill-rule="evenodd" opacity=".3")
                        .card-users
                          .card-user-3
                          .card-user-2
                  .card
                    .card-content
                      .labels
                        .label.label-purple
                        font Client meeting
                        .description
                          svg(height="10" viewBox="0 0 16 10" width="16" xmlns="http://www.w3.org/2000/svg")
                            path(d="m1 0h14c.5522847 0 1 .44771525 1 1s-.4477153 1-1 1h-14c-.55228475 0-1-.44771525-1-1s.44771525-1 1-1zm0 4h14c.5522847 0 1 .44771525 1 1s-.4477153 1-1 1h-14c-.55228475 0-1-.44771525-1-1s.44771525-1 1-1zm0 4h8c.55228475 0 1 .44771525 1 1s-.44771525 1-1 1h-8c-.55228475 0-1-.44771525-1-1s.44771525-1 1-1z" fill="#30364c" fill-rule="evenodd" opacity=".3")
                        .card-users
                          .card-user-2
                  .add-card Add a card…
          .col-md-5.order-md-1.text-center.text-md-left
            h3 Work with any team
            p Whether it’s for work, a side project or even the next family vacation, Trello helps your team stay organized.
            p
              a(href="/signup").btn.btn-secondary.px-3 Start doing →

  section.features-icons.bg-light.text-center
    .container
      .row
        .col-lg-4
          .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
            .features-icons-icon.d-flex
              i.icon-screen-desktop.m-auto.text-primary
            h3 Fully Responsive
            p.lead.mb-0 This theme will look great on any device, no matter the size!
        .col-lg-4
          .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
            .features-icons-icon.d-flex
              i.icon-layers.m-auto.text-primary
            h3 Bootstrap 4 Ready
            p.lead.mb-0 Featuring the latest build of the new Bootstrap 4 framework!
        .col-lg-4
          .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
            .features-icons-icon.d-flex
              i.icon-check.m-auto.text-primary
            h3 Easy to Use
            p.lead.mb-0 Ready to use with your own content, or customize the source files!

  section.showcase
    .container-fluid.p-0
      .row.no-gutters
        div(style="background-image: url('img/bg-showcase-1.jpg');").col-lg-6.order-lg-2.text-white.showcase-img
        .col-lg-6.order-lg-1.my-auto.showcase-text  
          h2 Fully Responsive Design
          p.lead.mb-0 When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!
      .row.no-gutters
        div(style="background-image: url('img/bg-showcase-2.jpg');").col-lg-6.text-white.showcase-img
        .col-lg-6.order-lg-1.my-auto.showcase-text  
          h2 Updated For Bootstrap 4
          p.lead.mb-0 Newly improved, and full of great utility classes, Bootstrap 4 is leading the way in mobile responsive web development! All of the themes on Start Bootstrap are now using Bootstrap 4!
      .row.no-gutters
        div(style="background-image: url('img/bg-showcase-3.jpg');").col-lg-6.order-lg-2.text-white.showcase-img
        .col-lg-6.order-lg-1.my-auto.showcase-text  
          h2 Easy to Use &amp; Customize
          p.lead.mb-0 Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!

  section.testimonials.bg-light.text-center
    .container
      h2.mb-5 What people are saying...
      .row
        .col-lg-4
          .testimonials-item.mx-auto.mb-5.mb-lg-0
            img.img-fluid.rounded-circle.mb-3(src="img/testimonials-1.jpg" alt="")
            h5 Margaret E.
            p.font-weight-light.mb-0 "This is fantastic! Thanks so much guys!"
        .col-lg-4
          .testimonials-item.mx-auto.mb-5.mb-lg-0
            img.img-fluid.rounded-circle.mb-3(src="img/testimonials-2.jpg" alt="")
            h5 Fred S.
            p.font-weight-light.mb-0 "Bootstrap is amazing. I've been using it to create lots of super nice landing pages."
        .col-lg-4
          .testimonials-item.mx-auto.mb-5.mb-lg-0
            img.img-fluid.rounded-circle.mb-3(src="img/testimonials-3.jpg" alt="")
            h5 Sarah W.
            p.font-weight-light.mb-0 "Thanks so much for making these free resources available to us!"

  section.call-to-action.text-white.text-center
      .overlay
      .container
          .row
              .col-xl-9.mx-auto
                  h2.mb-4 Ready to get started? Sign up now!
              .col-md-10.col-lg-8.col-xl-7.mx-auto
                  form
                      .form-row
                          .col-12.col-md-9.mb-2.mb-md-0
                              input(type="email", name="", placeholder="Enter your email...")#femail.form-control.form-control-lg
                          .col-12.col-md-3
                              button(type="submit").btn.btn-block.btn-lg.btn-primary Sign up!

  section#teams
    .container.py-5.pb-md-0
      .row.align-items-center
        .col-md-5
          .clipping-mask
            .phone
              .forehead
                .earpiece
              .buttons
                .silent
                .volume
                .lock
              .screen
                .board
                  .header
                    .title
                      h3 Summer Vacation
                  .lists
                    .list
                      .list-content
                        h5 To Do
                        .card
                          .card-content Swimming
                        .card
                          .image.surfing-lessons 
                          .card-content Surfing Lessons
                        .card
                          .card-content Whale Watching  
                        .card
                          .card-content Snorkeling  
                        .add-card
                          .card-content Add a card…  
                    .list
                      .list-content
                        h5 To Eat
                        .card
                          .image.tiki-drinks 
                          .card-content Tiki Drinks
                        .card
                          .card-content Taro Ice Cream  
                        .card
                          .card-content Fresh Seafood  
                        .card
                          .card-content Ahi Poke  
                        .add-card
                          .card-content Add a card…  
              .chin
                .button
        .col-md-7.text-center.text-md-left
          h3.mt-3.mt-md-0 Information at a glance
          p.m-0 Dive into the details by adding comments, attachments, due dates, and more directly to Trello cards. Collaborate on projects from beginning to end.
      .row.pt-5.pt-md-6
        .col-md-5.order-md-last
          img.img-fluid.mb-3(src="https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/06f0833d33e1d71bbf0858029839b406/butler.png" width="754" height="578")
        .col-md-7
          h4 Built-In Workflow Automation With Butler
          .line.my-4
            p Let the robots do the work! Boost productivity by unleashing the power of automation across your entire team with Butler, and remove tedious tasks from your to-do lists with:
            ul
              li Rule-Based Triggers
              li Custom Card &amp; Board Buttons
              li Calendar Commands
              li Due Date Commands
            p

  section
    .container.text-center
      .row
        .col-md-6.offset-md-3
          h3 See how it works
          p Go from idea to action in seconds with Trello’s intuitively simple boards, lists, and cards.</p>
        div#carousel(data-step="1")
          a.arrow.arrow-left
            svg(height="40" viewBox="0 0 22 40" width="22")
              path(d="m4.31783602 20 16.88192488 16.8819248c.7133028.7133029.7133028 1.8697953 0 2.5830981-.7133029.7133028-1.8697953.7133028-2.5830981 0l-18.08168628-18.0816863c-.38000317-.3800032-.5575644-.8857877-.53268368-1.3833366-.02488072-.4975489.15268051-1.0033334.53268368-1.3833366l18.08168628-18.08168628c.7133028-.71330283 1.8697952-.71330283 2.5830981 0 .7133028.71330283.7133028 1.86979522 0 2.58309804z" fill="#d9e4eb" transform="translate(.265262)")
          a.arrow.arrow-right
            svg(height="40" viewBox="0 0 22 40" width="22")
              path(d="m4.31783662 20 16.88192488 16.8819248c.7133028.7133029.7133028 1.8697953 0 2.5830981-.7133029.7133028-1.8697953.7133028-2.5830981 0l-18.08168628-18.0816863c-.38000317-.3800032-.5575644-.8857877-.53268368-1.3833366-.02488072-.4975489.15268051-1.0033334.53268368-1.3833366l18.08168628-18.08168628c.7133028-.71330283 1.8697952-.71330283 2.5830981 0 .7133028.71330283.7133028 1.86979522 0 2.58309804z" fill="#d9e4eb" fill-rule="evenodd" transform="matrix(-1 0 0 -1 21.734738 40)")
        .board
          .header
            .title
              h3 Business Launch
            .board-users
              .user.user-3
              .user.user-1
              .user.user-2
          .lists
            .list.to-do
              .list-content
                h5 To Do
              .card
                .card-content Hire Accountant
              .card
                .card-content Apply for Loan 
              .add-card
                .card-content Add a card… 
            .list
              .list-content
                h5 Doing
                .card
                  .card-content Create Facebook Page
                .card.empty
                .card.in-motion
                  .card-content Build Website
                .card
                  .card-content Design Logo
                .card
                  .card-content Sign Office Lease
                .add-card
                  .card-content Add a card… 
            .list
              .list-content
                h5 Done
                .card.empty
                .card
                  .card-content Open Bank Account
                .card
                  .card-content Write Business Plan
            .list
              .add-list Add a list…
          .card-back-overlay
            .card-back
              h5 Build Website
                .meta
                  .members
                    div Members
                    .user.user-2
                    .user.user-1 
                  .due-date
                    div Due Date
                    span.due
                      svg(height="112" viewBox="0 0 111 112" width="111")
                        defs
                          path#a(d="m80.2148438 13.8125h-59.4023438c-1.9511816 0-3.5952082.6684503-4.9321289 2.0053711-1.3369208 1.3369207-2.0053711 2.9809473-2.0053711 4.9321289v69.375c0 1.9511816.6684503 3.5952082 2.0053711 4.9321289 1.3369207 1.3369208 2.9809473 2.0053711 4.9321289 2.0053711h69.375c1.9511816 0 3.5952082-.6684503 4.9321289-2.0053711 1.3369208-1.3369207 2.0053711-2.9809473 2.0053711-4.9321289v-34.3623047l13.875-13.875v55.1748047c0 3.830097-1.354967 7.100084-4.064941 9.810059-2.709975 2.709974-5.979962 4.064941-9.810059 4.064941h-83.25c-3.8300973 0-7.10008411-1.354967-9.81005859-4.064941-2.70997449-2.709975-4.06494141-5.979962-4.06494141-9.810059v-83.25c0-3.83009728 1.35496692-7.10008411 4.06494141-9.81005859 2.70997448-2.70997449 5.97996129-4.06494141 9.81005859-4.06494141h80.2148438zm-54.4160157 44.5517578c-1.3007877-1.3730537-1.9511719-3.0170803-1.9511719-4.9321289s.6503842-3.5229427 1.9511719-4.8237305c1.3730538-1.3730537 3.0170803-2.0595703 4.9321289-2.0595703 1.9150487 0 3.5590752.6865166 4.9321289 2.0595703l19.6201172 19.6201172c1.3730538 1.3007878 2.0595703 2.9086819 2.0595703 4.8237305s-.6865165 3.5590752-2.0595703 4.9321289c-1.3730537 1.3730537-3.0170802 2.0595703-4.9321289 2.0595703-1.9150486 0-3.5590751-.6865166-4.9321289-2.0595703zm19.6201172 19.6201172c-1.3007877-1.3730537-1.9511719-3.0170803-1.9511719-4.9321289s.6503842-3.5229427 1.9511719-4.8237305l53.1152344-53.1152344c1.3730537-1.3730537 3.0170803-2.0595703 4.9321293-2.0595703 1.915048 0 3.559075.6865166 4.932129 2.0595703 1.300787 1.3730538 1.951171 3.0170803 1.951171 4.932129 0 1.9150486-.650384 3.5229427-1.951171 4.8237304l-53.1152349 53.1152344c-1.3730537 1.3730537-3.0170802 2.0595703-4.9321289 2.0595703-1.9150486 0-3.5590751-.6865166-4.9321289-2.0595703z")
                        g(transform="translate(0 1)")
                          use(xlink:href="#a")
                          use(xlink:href="#a")
                      font Jul 24
              h6 Description
              p Create a nice, modern website for our new business.
              h6 Checklist
              .checklist
                .progress
                  span 100% Complete
                  span.progress-bar
                ul
                  li
                    svg(height="112" viewBox="0 0 111 112" width="111")
                      defs
                        path#a(d="m80.2148438 13.8125h-59.4023438c-1.9511816 0-3.5952082.6684503-4.9321289 2.0053711-1.3369208 1.3369207-2.0053711 2.9809473-2.0053711 4.9321289v69.375c0 1.9511816.6684503 3.5952082 2.0053711 4.9321289 1.3369207 1.3369208 2.9809473 2.0053711 4.9321289 2.0053711h69.375c1.9511816 0 3.5952082-.6684503 4.9321289-2.0053711 1.3369208-1.3369207 2.0053711-2.9809473 2.0053711-4.9321289v-34.3623047l13.875-13.875v55.1748047c0 3.830097-1.354967 7.100084-4.064941 9.810059-2.709975 2.709974-5.979962 4.064941-9.810059 4.064941h-83.25c-3.8300973 0-7.10008411-1.354967-9.81005859-4.064941-2.70997449-2.709975-4.06494141-5.979962-4.06494141-9.810059v-83.25c0-3.83009728 1.35496692-7.10008411 4.06494141-9.81005859 2.70997448-2.70997449 5.97996129-4.06494141 9.81005859-4.06494141h80.2148438zm-54.4160157 44.5517578c-1.3007877-1.3730537-1.9511719-3.0170803-1.9511719-4.9321289s.6503842-3.5229427 1.9511719-4.8237305c1.3730538-1.3730537 3.0170803-2.0595703 4.9321289-2.0595703 1.9150487 0 3.5590752.6865166 4.9321289 2.0595703l19.6201172 19.6201172c1.3730538 1.3007878 2.0595703 2.9086819 2.0595703 4.8237305s-.6865165 3.5590752-2.0595703 4.9321289c-1.3730537 1.3730537-3.0170802 2.0595703-4.9321289 2.0595703-1.9150486 0-3.5590751-.6865166-4.9321289-2.0595703zm19.6201172 19.6201172c-1.3007877-1.3730537-1.9511719-3.0170803-1.9511719-4.9321289s.6503842-3.5229427 1.9511719-4.8237305l53.1152344-53.1152344c1.3730537-1.3730537 3.0170803-2.0595703 4.9321293-2.0595703 1.915048 0 3.559075.6865166 4.932129 2.0595703 1.300787 1.3730538 1.951171 3.0170803 1.951171 4.932129 0 1.9150486-.650384 3.5229427-1.951171 4.8237304l-53.1152349 53.1152344c-1.3730537 1.3730537-3.0170802 2.0595703-4.9321289 2.0595703-1.9150486 0-3.5590751-.6865166-4.9321289-2.0595703z")
                      g(transform="translate(0 1)")
                        use(xlink:href="#a")
                        use(xlink:href="#a")
                    font Find WordPress template that suits our needs
                  li
                    svg(height="112" viewBox="0 0 111 112" width="111")
                      defs
                        path#a(d="m80.2148438 13.8125h-59.4023438c-1.9511816 0-3.5952082.6684503-4.9321289 2.0053711-1.3369208 1.3369207-2.0053711 2.9809473-2.0053711 4.9321289v69.375c0 1.9511816.6684503 3.5952082 2.0053711 4.9321289 1.3369207 1.3369208 2.9809473 2.0053711 4.9321289 2.0053711h69.375c1.9511816 0 3.5952082-.6684503 4.9321289-2.0053711 1.3369208-1.3369207 2.0053711-2.9809473 2.0053711-4.9321289v-34.3623047l13.875-13.875v55.1748047c0 3.830097-1.354967 7.100084-4.064941 9.810059-2.709975 2.709974-5.979962 4.064941-9.810059 4.064941h-83.25c-3.8300973 0-7.10008411-1.354967-9.81005859-4.064941-2.70997449-2.709975-4.06494141-5.979962-4.06494141-9.810059v-83.25c0-3.83009728 1.35496692-7.10008411 4.06494141-9.81005859 2.70997448-2.70997449 5.97996129-4.06494141 9.81005859-4.06494141h80.2148438zm-54.4160157 44.5517578c-1.3007877-1.3730537-1.9511719-3.0170803-1.9511719-4.9321289s.6503842-3.5229427 1.9511719-4.8237305c1.3730538-1.3730537 3.0170803-2.0595703 4.9321289-2.0595703 1.9150487 0 3.5590752.6865166 4.9321289 2.0595703l19.6201172 19.6201172c1.3730538 1.3007878 2.0595703 2.9086819 2.0595703 4.8237305s-.6865165 3.5590752-2.0595703 4.9321289c-1.3730537 1.3730537-3.0170802 2.0595703-4.9321289 2.0595703-1.9150486 0-3.5590751-.6865166-4.9321289-2.0595703zm19.6201172 19.6201172c-1.3007877-1.3730537-1.9511719-3.0170803-1.9511719-4.9321289s.6503842-3.5229427 1.9511719-4.8237305l53.1152344-53.1152344c1.3730537-1.3730537 3.0170803-2.0595703 4.9321293-2.0595703 1.915048 0 3.559075.6865166 4.932129 2.0595703 1.300787 1.3730538 1.951171 3.0170803 1.951171 4.932129 0 1.9150486-.650384 3.5229427-1.951171 4.8237304l-53.1152349 53.1152344c-1.3730537 1.3730537-3.0170802 2.0595703-4.9321289 2.0595703-1.9150486 0-3.5590751-.6865166-4.9321289-2.0595703z")
                      g(transform="translate(0 1)")
                        use(xlink:href="#a")
                        use(xlink:href="#a")
                    strong @stevethedev
                    font to set up and customize the template
                  li
                    svg(height="112" viewBox="0 0 111 112" width="111")
                      defs
                        path#a(d="m80.2148438 13.8125h-59.4023438c-1.9511816 0-3.5952082.6684503-4.9321289 2.0053711-1.3369208 1.3369207-2.0053711 2.9809473-2.0053711 4.9321289v69.375c0 1.9511816.6684503 3.5952082 2.0053711 4.9321289 1.3369207 1.3369208 2.9809473 2.0053711 4.9321289 2.0053711h69.375c1.9511816 0 3.5952082-.6684503 4.9321289-2.0053711 1.3369208-1.3369207 2.0053711-2.9809473 2.0053711-4.9321289v-34.3623047l13.875-13.875v55.1748047c0 3.830097-1.354967 7.100084-4.064941 9.810059-2.709975 2.709974-5.979962 4.064941-9.810059 4.064941h-83.25c-3.8300973 0-7.10008411-1.354967-9.81005859-4.064941-2.70997449-2.709975-4.06494141-5.979962-4.06494141-9.810059v-83.25c0-3.83009728 1.35496692-7.10008411 4.06494141-9.81005859 2.70997448-2.70997449 5.97996129-4.06494141 9.81005859-4.06494141h80.2148438zm-54.4160157 44.5517578c-1.3007877-1.3730537-1.9511719-3.0170803-1.9511719-4.9321289s.6503842-3.5229427 1.9511719-4.8237305c1.3730538-1.3730537 3.0170803-2.0595703 4.9321289-2.0595703 1.9150487 0 3.5590752.6865166 4.9321289 2.0595703l19.6201172 19.6201172c1.3730538 1.3007878 2.0595703 2.9086819 2.0595703 4.8237305s-.6865165 3.5590752-2.0595703 4.9321289c-1.3730537 1.3730537-3.0170802 2.0595703-4.9321289 2.0595703-1.9150486 0-3.5590751-.6865166-4.9321289-2.0595703zm19.6201172 19.6201172c-1.3007877-1.3730537-1.9511719-3.0170803-1.9511719-4.9321289s.6503842-3.5229427 1.9511719-4.8237305l53.1152344-53.1152344c1.3730537-1.3730537 3.0170803-2.0595703 4.9321293-2.0595703 1.915048 0 3.559075.6865166 4.932129 2.0595703 1.300787 1.3730538 1.951171 3.0170803 1.951171 4.932129 0 1.9150486-.650384 3.5229427-1.951171 4.8237304l-53.1152349 53.1152344c-1.3730537 1.3730537-3.0170802 2.0595703-4.9321289 2.0595703-1.9150486 0-3.5590751-.6865166-4.9321289-2.0595703z")
                      g(transform="translate(0 1)")
                        use(xlink:href="#a")
                        use(xlink:href="#a")
                    font Launch our website!
              h6 Add Comment
              textarea(name="add_comment", cols="30", rows="10")
          .captions
            .caption.caption-1 Create a board for any project, give it a name, and invite your team.
            .caption.caption-2 Add lists to create steps in a workflow that is right for you.
            .caption.caption-3 Create cards for tasks to complete or information you want to organize.
            .caption.caption-4 Click on a card to add details, due dates, checklists, comments, and more.
            .caption.caption-5 Move them across lists to show progress. Go from "To Do" to "Done" in no time!
            nav
              a.step-1
              a.step-2
              a.step-3
              a.step-4
              a.step-5
          div#robot
