nav.navbar.navbar-light.navbar-fixed-top.fixed-top.py-3
    a(href="#").navbar-brand.font-weight-bold.text-white Start Bootstrap
    .d-none.d-md-block.recommend
    .float-right.buttons
        a(href="#").btn.btn-sm.btn-link.text-white Sign In
        a(href="#" data-analytics-event="clickedSignupHeaderButton").btn.btn-sm.bg-white.font-weight-bold Sign Up

