section.slice.slice-lg
  .container
    .row.row-grid.justify-content-around.align-items-center
      .col-lg-5
        div
          h5.h3 A complete solution for developers &amp; designers
          p.lead.my-4
            | With Purpose you get components and examples, including tons of variables that will help you customize this theme with ease.
          ul.list-unstyled
            li.py-2
              .d-flex.align-items-center
                div
                  .icon.icon-shape.icon-primary.icon-sm.rounded-circle.mr-3
                    i.far.fa-store-alt
                div
                  span.h6.mb-0 Perfect for modern startups
            li.py-2
              .d-flex.align-items-center
                div
                  .icon.icon-shape.icon-warning.icon-sm.rounded-circle.mr-3
                    i.far.fa-palette
                div
                  span.h6.mb-0 Built with customization and ease-of-use at its core
            li.py-2
              .d-flex.align-items-center
                div
                  .icon.icon-shape.icon-success.icon-sm.rounded-circle.mr-3
                    i.far.fa-cog
                div
                  span.h6.mb-0 Quality design and thoughfully crafted code
      .col-lg-6
        img.img-fluid.img-center(alt='Image placeholder' src='assets/img/theme/light/presentation-2.png')
