footer#footer-main
  .footer.footer-dark.bg-gradient-primary.footer-rotate
    .container
      .row.pt-md
        .col-lg-4.mb-5.mb-lg-0
          a(href='index.html')
            img(src='assets/img/brand/white.png' alt='Footer logo' style='height: 70px;')
          p
            | Purpose is a unique and beautiful collection of UI elements that are all flexible and modular. A complete and customizable solution to building the website of your dreams.
        .col-lg-2.col-6.col-sm-4.ml-lg-auto.mb-5.mb-lg-0
          h6.heading.mb-3 Account
          ul.list-unstyled
            li
              a(href='pages/account-profile.html') Profile
            li
              a(href='pages/account-settings.html') Settings
            li
              a(href='pages/account-billing.html') Billing
            li
              a(href='pages/account-notifications.html') Notifications
        .col-lg-2.col-6.col-sm-4.mb-5.mb-lg-0
          h6.heading.mb-3 About
          ul.list-unstyled.text-small
            li
              a(href='#') Services
            li
              a(href='#') Contact
            li
              a(href='#') Careers
        .col-lg-2.col-sm-4.mb-5.mb-lg-0
          h6.heading.mb-3 Company
          ul.list-unstyled
            li
              a(href='#') Terms
            li
              a(href='#') Privacy
            li
              a(href='#') Support
      .row.align-items-center.justify-content-md-between.py-4.mt-4.delimiter-top
        .col-md-6
          .copyright.text-sm.font-weight-bold.text-center.text-md-left
            | &copy; 2018-2019 
            a.font-weight-bold(href='https://webpixels.io' target='_blank') Webpixels
            | . All rights reserved.
        .col-md-6
          ul.nav.justify-content-center.justify-content-md-end.mt-3.mt-md-0
            li.nav-item
              a.nav-link(href='https://dribbble.com/webpixels' target='_blank')
                i.fab.fa-dribbble
            li.nav-item
              a.nav-link(href='https://www.instagram.com/webpixelsofficial' target='_blank')
                i.fab.fa-instagram
            li.nav-item
              a.nav-link(href='https://github.com/webpixels' target='_blank')
                i.fab.fa-github
            li.nav-item
              a.nav-link(href='https://www.facebook.com/webpixels' target='_blank')
                i.fab.fa-facebook

script(src="/jquery/jquery.min.js")
script(src="/bootstrap/js/bootstrap.bundle.min.js")
script(src="assets/js/purpose.core.js")
script(src="assets/js/purpose.js")
