header
    nav#navigation.navbar.navbar-dropdown.navbar-fixed-top.navbar-expand-lg
        div.navbar-brand
            span.navbar-caption-wrap
                a(href="/").navbar-caption.text-white.display-2 Home

        button(data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation").navbar-toggler
            div.hamburger
                span menu1
                span menu2
                span menu3

        div#navbarSupportedContent.collapse.navbar-collapse
            ul(data-app-modern-menu="true").navbar-nav.nav-dropdown.nav-right
                li.nav-item
                    a(href="/").nav-link.link.text-white.display-4 Sample1
                li.nav-item.dropdown
                    a(href="/" data-toggle="dropdown-submenu" aria-expanded="false").nav-link.link.text-white.display-4.dropdown-toggle Sample1
                    div.dropdown-menu
                        a(href="/").text-white.display-4.dropdown-item Sample1
                        a(href="/").text-white.display-4.dropdown-item Sample1
                        a(href="/").text-white.display-4.dropdown-item Sample1
                        div.dropdown
                            a(href="/" aria-expanded="false" data-toggle="dropdown-submenu").text-white.display-4.dropdown-item.dropdown-toggle Sample1
                            div.dropdown-menu.dropdown-submenu
                                a(href="/").text-white.display-4.dropdown-item Sample1
                                a(href="/").text-white.display-4.dropdown-item Sample1
                                a(href="/").text-white.display-4.dropdown-item Sample1
                        div.dropdown
                            a(href="/" aria-expanded="false" data-toggle="dropdown-submenu").text-white.display-4.dropdown-item.dropdown-toggle Sample1
                            div.dropdown-menu.dropdown-submenu
                                a(href="/").text-white.display-4.dropdown-item Sample1
                                a(href="/").text-white.display-4.dropdown-item Sample1
                                a(href="/").text-white.display-4.dropdown-item Sample1

                li.nav-item.dropdown
                    a(href="/" data-toggle="dropdown-submenu" aria-expanded="false").nav-link.link.text-white.display-4.dropdown-toggle Sample1
                    div.dropdown-menu
                        a(href="/").text-white.display-4.dropdown-item Sample1
                        a(href="/").text-white.display-4.dropdown-item Sample1
                        a(href="/").text-white.display-4.dropdown-item Sample1
                        div.dropdown
                            a(href="/" aria-expanded="false" data-toggle="dropdown-submenu").text-white.display-4.dropdown-item.dropdown-toggle Sample1
                            div.dropdown-menu.dropdown-submenu
                                a(href="/").text-white.display-4.dropdown-item Sample1
                                a(href="/").text-white.display-4.dropdown-item Sample1
                                a(href="/").text-white.display-4.dropdown-item Sample1
                        div.dropdown
                            a(href="/" aria-expanded="false" data-toggle="dropdown-submenu").text-white.display-4.dropdown-item.dropdown-toggle Sample1
                            div.dropdown-menu.dropdown-submenu
                                a(href="/").text-white.display-4.dropdown-item Sample1
                                a(href="/").text-white.display-4.dropdown-item Sample1
                                a(href="/").text-white.display-4.dropdown-item Sample1
                li
                    a(href="/login") Log In
                li
                    a(href="/signup") Sign Up

            div.icons-menu
                div.soc-item
                    a(href="/#" target="_blank")
                        span.mbr-iconfont.socicon-twitter.socicon
                div.soc-item
                    a(href="/#" target="_blank")
                        span.mbr-iconfont.socicon-facebook.socicon
                div.soc-item
                    a(href="/#" target="_blank")
                        span.mbr-iconfont.socicon-instagram.socicon
