// layout.pug
block variables
doctype html
html(lang="en")
  head
    block title
      title= title
    include head.pug
  body(data-track-group="Landing-Marquee" data-analytics-screen="homeScreen")
    block heading
      include nav.pug
      //include header.pug

    block content
    
    block footer
      include footer.pug
      